PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/xautomate
MONGODB_DB_NAME=xautomate
POST_HEADLESS=true
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome
X_USERNAME=@your_x_username
X_PASSWORD=your_x_password
X_POST_URL=https://x.com/home
ADMIN_EMAIL=admin@xautomate.com
ADMIN_PASSWORD=change-me
